In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('hauses.csv')

nput features in order:
1) CRIM: per capita crime rate by town
2) ZN: proportion of residential land zoned for lots over 25,000 sq.ft.
3) INDUS: proportion of non-retail business acres per town
4) CHAS: Charles River dummy variable (1 if tract bounds river; 0 otherwise)
5) NOX: nitric oxides concentration (parts per 10 million) [parts/10M]
6) RM: average number of rooms per dwelling
7) AGE: proportion of owner-occupied units built prior to 1940
8) DIS: weighted distances to five Boston employment centres
9) RAD: index of accessibility to radial highways
10) TAX: full-value property-tax rate per $10,000 [$/10k]
11) PTRATIO: pupil-teacher ratio by town
12) B: The result of the equation B=1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
13) LSTAT: % lower status of the population

Output variable:
1) MEDV: Median value of owner-occupied homes in $1000's [k$]

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [5]:
df1.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [6]:
df1.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [7]:
df1.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
df1['MEDV']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [9]:
df1.rename(columns = {'MEDV':'PRICE'},inplace = True)

df1['PRICE'] = df1['PRICE'] * 1000

In [10]:
df1.tail(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22400.0
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20600.0
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23900.0
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22000.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11900.0

In [11]:
t1 = df1[df1['RM'] > 9]
#t1 = df1[df1['RM'] > 8][['AGE','TAX','PRICE']]
print(t1.shape, '\n', t1)

(13, 14)
         CRIM    ZN  INDUS  CHAS     NOX     RM   AGE     DIS  RAD    TAX  \
97   0.12083   0.0   2.89     0  0.4450  8.069  76.0  3.4952    2  276.0
163  1.51902   0.0  19.58     1  0.6050  8.375  93.9  2.1620    5  403.0
204  0.02009  95.0   2.68     0  0.4161  8.034  31.9  5.1180    4  224.0
224  0.31533   0.0   6.20     0  0.5040  8.266  78.3  2.8944    8  307.0
225  0.52693   0.0   6.20     0  0.5040  8.725  83.0  2.8944    8  307.0
226  0.38214   0.0   6.20     0  0.5040  8.040  86.5  3.2157    8  307.0
232  0.57529   0.0   6.20     0  0.5070  8.337  73.3  3.8384    8  307.0
233  0.33147   0.0   6.20     0  0.5070  8.247  70.4  3.6519    8  307.0
253  0.36894  22.0   5.86     0  0.4310  8.259   8.4  8.9067    7  330.0
257  0.61154  20.0   3.97     0  0.6470  8.704  86.9  1.8010    5  264.0
262  0.52014  20.0   3.97     0  0.6470  8.398  91.5  2.2885    5  264.0
267  0.57834  20.0   3.97     0  0.5750  8.297  67.0  2.4216    5  264.0
364  3.47428   0.0  18.10     1  0.7180  8.780  82.9  1.9047   24  666.0

     PTRATIO       B  LSTAT    PRICE
97      18.0  396.90   4.21  38700.0
163     14.7  388.45   3.32  50000.0
204     14.7  390.55   2.88  50000.0
224     17.4  385.05   4.14  44800.0
225     17.4  382.00   4.63  50000.0
226     17.4  387.38   3.13  37600.0
232     17.4  385.91   2.47  41700.0
233     17.4  378.95   3.95  48300.0
253     19.1  396.90   3.54  42800.0
257     13.0  389.70   5.12  50000.0
262     13.0  386.86   5.91  48800.0
267     13.0  384.54   7.44  50000.0
364     20.2  354.55   5.29  21900.0

In [12]:
t1.reset_index(inplace=True)

t1.index = t1.index + 1

t1

,index,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
1,97,0.12083,0.0,2.89,0,0.4450,8.069,76.0,3.4952,2,276.0,18.0,396.90,4.21,38700.0
2,163,1.51902,0.0,19.58,1,0.6050,8.375,93.9,2.1620,5,403.0,14.7,388.45,3.32,50000.0
3,204,0.02009,95.0,2.68,0,0.4161,8.034,31.9,5.1180,4,224.0,14.7,390.55,2.88,50000.0
4,224,0.31533,0.0,6.20,0,0.5040,8.266,78.3,2.8944,8,307.0,17.4,385.05,4.14,44800.0
5,225,0.52693,0.0,6.20,0,0.5040,8.725,83.0,2.8944,8,307.0,17.4,382.00,4.63,50000.0
6,226,0.38214,0.0,6.20,0,0.5040,8.040,86.5,3.2157,8,307.0,17.4,387.38,3.13,37600.0
7,232,0.57529,0.0,6.20,0,0.5070,8.337,73.3,3.8384,8,307.0,17.4,385.91,2.47,41700.0
8,233,0.33147,0.0,6.20,0,0.5070,8.247,70.4,3.6519,8,307.0,17.4,378.95,3.95,48300.0
9,253,0.36894,22.0,5.86,0,0.4310,8.259,8.4,8.9067,7,330.0,19.1,396.90,3.54,42800.0
10,257,0.61154,20.0,3.97,0,0.6470,8.704,86.9,1.8010,5,264.0,13.0,389.70,5.12,50000.0
11,262,0.52014,20.0,3.97,0,0.6470,8.398,91.5,2.2885,5,264.0,13.0,386.86,5.91,48800.0
12,267,0.57834,20.0,3.97,0,0.5750,8.297,67.0,2.4216,5,264.0,13.0,384.54,7.44,50000.0
13,364,3.47428,0.0,18.10,1,0.7180,8.780,82.9,1.9047,24,666.0,20.2,354.55,5.29,21900.0

In [27]:
t2 = df1[(df1['TAX'] > 215) & (df1['TAX'] < 275) ]

In [28]:
print(t2.shape)
t2.head(10)

(87, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21600.0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34700.0
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33400.0
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36200.0
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28700.0
39,0.02763,75.0,2.95,0,0.428,6.595,21.8,5.4011,3,252.0,18.3,395.63,4.32,30800.0
40,0.03359,75.0,2.95,0,0.428,7.024,15.8,5.4011,3,252.0,18.3,395.62,1.98,34900.0
41,0.12744,0.0,6.91,0,0.448,6.770,2.9,5.7209,3,233.0,17.9,385.41,4.84,26600.0
42,0.14150,0.0,6.91,0,0.448,6.169,6.6,5.7209,3,233.0,17.9,383.37,5.81,25300.0
43,0.15936,0.0,6.91,0,0.448,6.211,6.5,5.7209,3,233.0,17.9,394.46,7.44,24700.0

In [29]:
t2 = t2.drop(columns=['ZN','INDUS'])

t2.reset_index(drop=True, inplace=True)

t2.head(12)

,CRIM,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.02731,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21600.0
1,0.02729,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34700.0
2,0.03237,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33400.0
3,0.06905,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36200.0
4,0.02985,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28700.0
5,0.02763,0,0.428,6.595,21.8,5.4011,3,252.0,18.3,395.63,4.32,30800.0
6,0.03359,0,0.428,7.024,15.8,5.4011,3,252.0,18.3,395.62,1.98,34900.0
7,0.12744,0,0.448,6.770,2.9,5.7209,3,233.0,17.9,385.41,4.84,26600.0
8,0.14150,0,0.448,6.169,6.6,5.7209,3,233.0,17.9,383.37,5.81,25300.0
9,0.15936,0,0.448,6.211,6.5,5.7209,3,233.0,17.9,394.46,7.44,24700.0
10,0.12269,0,0.448,6.069,40.0,5.7209,3,233.0,17.9,389.39,9.55,21200.0
11,0.17142,0,0.448,5.682,33.8,5.1004,3,233.0,17.9,396.90,10.21,19300.0

In [30]:
t2

,CRIM,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.02731,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21600.0
1,0.02729,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34700.0
2,0.03237,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33400.0
3,0.06905,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36200.0
4,0.02985,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28700.0
...,...,...,...,...,...,...,...,...,...,...,...,...
82,0.06263,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22400.0
83,0.04527,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20600.0
84,0.06076,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23900.0
85,0.10959,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22000.0
86,0.04741,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11900.0